CMDLINE
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
autotools
bin
bin64
bin2012
config.log
config.status
configure
obj
rpm.spec
stamp-h
stamp-h.in
stamp-h1
tags
lib

# These are the default patterns globally ignored by Subversion:
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
.#*
.*.swp
.DS_store
*.ncb
*.suo
*.user
*.db
*.opendb
*.lastcodeanalysis
*.vspx
*.diagsession
/src/code/vc2015/Debug
/src/code/vc2015/Release
/src/code/vc2015/.vs
/src/code/vc2015/gamex86/Debug
/src/code/vc2015/gamex86/Release
/src/code/vc2015/gamex86_wos/Debug
/src/code/vc2015/gamex86_wos/Release
/src/code/vc2015/ref_gl/Debug
/src/code/vc2015/ref_gl/Release
/src/code/vc2015/ref_soft/Debug
/src/code/vc2015/ref_soft/Release
/src/utils/makepak/Debug
/src/utils/makepak/Release
/src/utils/sined/sined/Debug
/src/utils/sined/sined/Release
/src/utils/bsp/bspinfo3/bspinfo/Debug
/src/utils/bsp/bspinfo3/bspinfo/Release
/src/utils/bsp/qbsp3/qbsp/Debug
/src/utils/bsp/qbsp3/qbsp/Release
/src/utils/bsp/qrad3/qrad/Debug
/src/utils/bsp/qrad3/qrad/Release
/src/utils/bsp/qvis3/qvis/Debug
/src/utils/bsp/qvis3/qvis/Release
/assets
/src/code/vc2015/gamex86/Steam_Release
/src/code/vc2015/gamex86_wos/Steam_Release
/gamedll/Debug
/gamedll/Debug_wos
/gamedll/Release
/gamedll/Release_wos
/gamedll/Steam_Release
/gamedll/Steam_Release_wos
/gamedll/.vs
